.App {
  text-align: center;
}

.headerWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  color: white;
  background-color: pink
}

.topNav {
  // justify-content: space-between;
  // background-color: black;
  background-color: blue;
}

.topNavLink {
  color: white;
}

.heroTextBox {
  background-color: black;
  padding: 0 0 1em 0;
}

.heroText {
  margin: 0;
  font-size: 5em;
}

.subtitleText {
  margin: 0;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

